/* M I S C - U N I V E R S A L */
body {
    background-color: #240E28;
}
.container {
    max-width: 1364px;
    margin: 0 auto;
}
/* L A N D I N G - P A G E - S E C T I O N */
.landing {
    width: 100%;
    height: 100vh;
}
/* NAVIGATION */
.navigation {
    width: 100%;
    height: 89px;
    background-color: #521A4A;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 5px 5px 25px #2BD1FC;
}
.navigation .logo {
    color: #FF48C4;
    text-decoration: none;
    font-size: 28px;
    margin-left: 40px;
}
.navItems {
    display: flex;
    flex-direction: row;
    font-size: 17px;
}
.navItems li {
    align-self: center;
    margin-right: 40px;
}
.navItems a {
    color: #FF48C4;
    text-decoration: none;
}
.navItems .signIn {
    color: #ffffff;
}
.navItems .navBtn {
    background-color: #D8247C;
    border: none;
    border-radius: 1000px;
    width: 130px;
    height: 50px;
    margin-right: 40px;
}
.navItems .navBtn a {
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
}
/* NAVIGATION */

/* HEADER */
.headerBox .iconbar1 {
    width: 100%;
    height: 33px;
    background-color: #D8247C;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: absolute;
    top: 0;
}
.headerBox .iconbar1 #editicon {
    width: 24px;
    height: 24px;
    margin-right: 15px;
}
.headerBox .iconbar1 #deleteicon {
    width: 24px;
    height: 24px;
    margin-right: 15px;
}
.headerBox {
    width: 880px;
    height: 478px;
    background-color: #521A4A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 256px auto;
    border-radius: 15px;
    position: relative;
    box-shadow: 5px 5px 25px #2BD1FC;
}
.headerBox .title {
    font-size: 115px;
    margin: 10px auto;
    color: #FF48C4;
}
.headerBox .subTitle {
    font-size: 25px;
    margin: 10px auto;
    color: #2BD1FC;
}
.headerBox .headerBtn {
    margin: 10px auto;
    border: none;
    background-color: #D8247C;
    border-radius: 1000px;
    width: 130px;
    height: 50px;
}
.headerBox .headerBtn a {
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
}
.headerBox .learnBtn {
    margin: 10px auto;
    border: none;
    background-color: #2BD1FC;
    border-radius: 1000px;
    width: 165px;
    height: 55px;
}
.headerBox .learnBtn a {
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
}
/* HEADER */


/* A B O U T - S E C T I O N */
/* About Box */
.about {
    width: 100%;
    height: 100vh;
    padding-top: 75px;
}
.aboutBox {
    width: 1132px;
    height: 293px;
    background-color: #521A4A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    margin: 0 auto;
    padding: 30px 60px 30px 60px;
    margin-bottom: 100px;
    box-shadow: 5px 5px 25px #2BD1FC;
}
.aboutBox h1 {
    font-size: 60px;
    color: #FF48C4;
}
.aboutBox p {
    font-size: 30px;
    color: #2BD1FC;
}
/* About Box */

/* Desc One */
.descBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.descBox .desc1 {
    width: 400px;
    height: 452px;
    background-color: #521A4A;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 5px 5px 25px #2BD1FC;
}
.descBox .desc1 h1 {
    font-size: 60px;
    color: #FF48C4;
}
.descBox .desc1 p {
    font-size: 30px;
    color: #2BD1FC;
}
/* Desc One */

/* Desc Two */
.descBox .desc2 {
    width: 400px;
    height: 452px;
    background-color: #521A4A;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin: 0 25px;
    box-shadow: 5px 5px 25px #2BD1FC;
}
.descBox .desc2 h1 {
    font-size: 60px;
    color: #FF48C4;
}
.descBox .desc2 p {
    font-size: 30px;
    color: #2BD1FC;
}
/* Desc Two */

/* Desc Three */
.descBox .desc3 {
    width: 400px;
    height: 452px;
    background-color: #521A4A;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 5px 5px 25px #2BD1FC;
}
.descBox .desc3 h1 {
    font-size: 60px;
    color: #FF48C4;
}
.descBox .desc3 p {
    font-size: 30px;
    color: #2BD1FC;
}
/* Desc Three */

/* P R I C I N G - S E C T I O N */
.pricing {
    width: 100%;
    height: 100vh;
}
/* Pricing Box */
.pricingBox {
    width: 1132px;
    height: 293px;
    background-color: #521A4A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    margin: 0 auto;
    padding: 30px 60px 30px 60px;
    margin-bottom: 100px;
    box-shadow: 5px 5px 25px #2BD1FC;
}
.pricingBox h1 {
    font-size: 60px;
    color: #FF48C4;
}
.pricingBox p {
    font-size: 30px;
    color: #2BD1FC;
}
/* Pricing Box */

/* Price One */
.priceBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.priceBox .price1 {
    width: 400px;
    height: 452px;
    background-color: #521A4A;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 5px 5px 25px #2BD1FC;
}
.priceBox .price1 h1 {
    font-size: 60px;
    color: #FF48C4;
}
.priceBox .price1 p {
    font-size: 30px;
    color: #2BD1FC;
}
/* Price One */

/* Price Two */
.priceBox .price2 {
    width: 400px;
    height: 452px;
    background-color: #521A4A;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin: 0 25px;
    box-shadow: 5px 5px 25px #2BD1FC;
}
.priceBox .price2 h1 {
    font-size: 60px;
    color: #FF48C4;
}
.priceBox .price2 p {
    font-size: 30px;
    color: #2BD1FC;
}
/* Price Two */

/* Price Three */
.priceBox .price3 {
    width: 400px;
    height: 452px;
    background-color: #521A4A;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 5px 5px 25px #2BD1FC;
}
.priceBox .price3 h1 {
    font-size: 60px;
    color: #FF48C4;
}
.priceBox .price3 p {
    font-size: 30px;
    color: #2BD1FC;
}
/* Price Three */

/* F E E D B A C K - S E C T I O N */
.feedback {
    width: 100%;
}
.slideshow {
    width: 400px;
    height: 452px;
    background-color: #521A4A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    margin: 0 auto;
    padding: 30px 60px 30px 60px;
    margin-bottom: 100px;
    box-shadow: 5px 5px 25px #2BD1FC;
}
.slideshow .box {
    background-color: #521A4A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
}

/* Slideshow */
.slideshow div {
    display: none;
    position: absolute;
}
.slideshow div:first-child {
    display: block;
}
.slideshow > div{
    width: 400px;
    height: 452px;
}
/* Slideshow */

/* F O O T E R - S E C T I O N */
.footer {
    width: 100%;
    height: 50px;
    background-color: #240E28;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 5px 5px 25px #2BD1FC;
}
.footerBox {
    display: flex;
    flex-direction: row;
}