/* V A R I A B L E S */
:root {
    --primary: #521A4A;
    --secondary: #2BD1FC;
    --tertiary: #D8247C;

    --dark: #240E28;
    --light: #FFFFFF;

    --mainText: #FF48C4;

    --shadow: 5px 5px 20px #2BD1FC;

    --fontOne: 'Montserrat', sans-serif;
    --fontTwo: 'Nunito', sans-serif;
    --fontThree: Arial, Helvetica, sans-serif;
}
/* M I S C - U N I V E R S A L */
html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
body {
    background: var(--dark);
    margin: 1.875rem 3.125rem;
    line-height: 1.4;
}
.navBtn {
    background: var(--tertiary);
    color: var(--light);
    border: 0;
    border-radius: 1rem;
    max-width: 8.125rem;
    max-height: 2.5rem;
}
    .navBtn a {
        text-decoration: none;
        color: var(--light);
    }
.headerBtn {
    background: var(--tertiary);
    padding: 0.6rem 1.3rem;
    border: 0;
    border-radius: 1rem;
}
    .headerBtn a {
        text-decoration: none;
        color: var(--light);
    }
.learnBtn {
    background: var(--secondary);
    padding: 0.6rem 1.3rem;
    border: 0;
    border-radius: 1rem;
}
    .learnBtn a {
        text-decoration: none;
        color: var(--light);
    }
.wrapper {
    display: grid;
/*     grid-gap: 1.25rem; */
}
/* N A V I G A T I O N - S E C T I O N */
.navigation {
    display: grid;
    grid-gap: 1.25rem;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 6.1875rem);
    background: var(--primary);
}
.iconbar0 {
    display: grid;
    grid-template-columns: repeat(2, 36px);
    justify-content: end;
    background: var(--tertiary);
}
.navigation h1 {
}
    .navigation h1 a {
        font-size: 1.5625rem;
        font-family: var(--fontOne);
        font-weight: 600;
        color: var(--mainText);
        text-decoration: none;
    }
.navigation ul {
    display: grid;
    grid-gap: 1.25rem;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
    grid-column-start: 3;
    max-width: 29.0625rem;
}
.navigation ul li {
    max-width: 100px;
}
.navigation ul a {
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--light);
    font-size: 1.1rem;
}
    .navigation ul .active {
        color: var(--secondary);
    }
/* .navigation {
    width: 100%;
    height: 89px;
    background-color: #521A4A;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 5px 5px 25px #2BD1FC;
}
.navigation .logo {
    color: #FF48C4;
    text-decoration: none;
    font-size: 28px;
    margin-left: 40px;
}
.navItems {
    display: flex;
    flex-direction: row;
    font-size: 17px;
}
.navItems li {
    align-self: center;
    margin-right: 40px;
}
.navItems a {
    color: #FF48C4;
    text-decoration: none;
}
.navItems .signIn {
    color: #ffffff;
}
.navItems .navBtn {
    background-color: #D8247C;
    border: none;
    border-radius: 1000px;
    max-width: 130px;
    height: 50px;
    margin-right: 40px;
}
.navItems .navBtn a {
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
} */
/* NAVIGATION */

/* HEADER */
/* .headerBox .iconbar1 {
    width: 100%;
    height: 33px;
    background-color: #D8247C;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: absolute;
    top: 0;
}
.headerBox .iconbar1 #editicon {
    width: 24px;
    height: 24px;
    margin-right: 15px;
}
.headerBox .iconbar1 #deleteicon {
    width: 24px;
    height: 24px;
    margin-right: 15px;
}
.headerBox {
    width: 880px;
    height: 478px;
    background-color: #521A4A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 80px;
    border-radius: 15px;
    position: relative;
    box-shadow: 5px 5px 25px #2BD1FC;
}
.headerBox .title {
    font-size: 115px;
    margin: 10px auto;
    color: #FF48C4;
}
.headerBox .subTitle {
    font-size: 25px;
    margin: 10px auto;
    color: #2BD1FC;
}
.headerBox .headerBtn {
    margin: 10px auto;
    border: none;
    background-color: #D8247C;
    border-radius: 1000px;
    width: 130px;
    height: 50px;
}
.headerBox .headerBtn a {
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
}
.headerBox .learnBtn {
    margin: 10px auto;
    border: none;
    background-color: #2BD1FC;
    border-radius: 1000px;
    width: 165px;
    height: 55px;
}
.headerBox .learnBtn a {
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
} */
/* HEADER */


/* A B O U T - S E C T I O N */
/* About Box */
/* .about {
    width: 100%;
    height: 100vh;
}
.aboutBox {
    width: 1132px;
    height: 155px;
    background-color: #521A4A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    position: relative;
    margin: 0 auto;
    padding: 15px 30px 0px 30px;
    margin-bottom: 100px;
    box-shadow: 5px 5px 25px #2BD1FC;
}
.aboutBox .iconbar2 {
    width: 100%;
    height: 33px;
    background-color: #D8247C;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
}
.aboutBox .iconbar2 #editicon {
    width: 24px;
    height: 24px;
    margin-right: 15px;
}
.aboutBox .iconbar2 #deleteicon {
    width: 24px;
    height: 24px;
    margin-right: 15px;
}
.aboutBox h1 {
    font-size: 60px;
    color: #FF48C4;
    margin-bottom: 15px;
}
.aboutBox p {
    font-size: 30px;
    color: #2BD1FC;
} */
/* About Box */

/* Desc One */
/* .descBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.descBox .desc1 {
    width: 400px;
    height: 300px;
    background-color: #521A4A;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 5px 5px 25px #2BD1FC;
}
.descBox .desc1 h1 {
    font-size: 60px;
    color: #FF48C4;
}
.descBox .desc1 p {
    font-size: 30px;
    color: #2BD1FC;
} */
/* Desc One */

/* Desc Two */
/* .descBox .desc2 {
    width: 400px;
    height: 300px;
    background-color: #521A4A;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin: 0 25px;
    box-shadow: 5px 5px 25px #2BD1FC;
}
.descBox .desc2 h1 {
    font-size: 60px;
    color: #FF48C4;
}
.descBox .desc2 p {
    font-size: 30px;
    color: #2BD1FC;
} */
/* Desc Two */

/* Desc Three */
/* .descBox .desc3 {
    width: 400px;
    height: 300px;
    background-color: #521A4A;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 5px 5px 25px #2BD1FC;
}
.descBox .desc3 h1 {
    font-size: 60px;
    color: #FF48C4;
}
.descBox .desc3 p {
    font-size: 30px;
    color: #2BD1FC;
} */
/* Desc Three */

/* P R I C I N G - S E C T I O N */
/* .pricing {
    width: 100%;
    height: 100vh;
} */
/* Pricing Box */
/* .pricingBox {
    width: 1132px;
    height: 155px;
    background-color: #521A4A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    margin: 0 auto;
    padding: 15px 30px 0px 30px;
    margin-bottom: 100px;
    box-shadow: 5px 5px 25px #2BD1FC;
}
.pricingBox h1 {
    font-size: 60px;
    color: #FF48C4;
}
.pricingBox p {
    font-size: 30px;
    color: #2BD1FC;
} */
/* Pricing Box */

/* Price One */
/* .priceBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.priceBox .price1 {
    width: 400px;
    height: 300px;
    background-color: #521A4A;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 5px 5px 25px #2BD1FC;
}
.priceBox .price1 h1 {
    font-size: 60px;
    color: #FF48C4;
}
.priceBox .price1 p {
    font-size: 30px;
    color: #2BD1FC;
} */
/* Price One */

/* Price Two */
/* .priceBox .price2 {
    width: 400px;
    height: 300px;
    background-color: #521A4A;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin: 0 25px;
    box-shadow: 5px 5px 25px #2BD1FC;
}
.priceBox .price2 h1 {
    font-size: 60px;
    color: #FF48C4;
}
.priceBox .price2 p {
    font-size: 30px;
    color: #2BD1FC;
} */
/* Price Two */

/* Price Three */
/* .priceBox .price3 {
    width: 400px;
    height: 300px;
    background-color: #521A4A;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 5px 5px 25px #2BD1FC;
}
.priceBox .price3 h1 {
    font-size: 60px;
    color: #FF48C4;
}
.priceBox .price3 p {
    font-size: 30px;
    color: #2BD1FC;
} */
/* Price Three */

/* F E E D B A C K - S E C T I O N */
/* .feedback {
    width: 100%;
}
.slideshow {
    width: 400px;
    height: 452px;
    background-color: #521A4A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    margin: 0 auto;
    padding: 30px 60px 30px 60px;
    margin-bottom: 100px;
    box-shadow: 5px 5px 25px #2BD1FC;
}
.slideshow .box {
    background-color: #521A4A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
} */

/* Slideshow */
/* .slideshow div {
    display: none;
    position: absolute;
}
.slideshow div:first-child {
    display: block;
}
.slideshow > div{
    width: 400px;
    height: 452px;
} */
/* Slideshow */

/* F O O T E R - S E C T I O N */
/* .footer {
    width: 100%;
    height: 50px;
    background-color: #521A4A;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 5px 5px 25px #2BD1FC;
}
.footerBox {
    display: flex;
    flex-direction: row;
} */

/* M O B I L E - B R E A K - P O I N T S */
/* @media only screen and (max-width : 320px) {
    .container {
        width: 320px;
    }

    .navigation {
        width: 300px;
        margin: 0 auto;
    }
    .navigation .navItems {
        display: none;
    }

    .header .headerBox {
        width: 300px;
        margin: 0 auto;
    }
    .aboutBox {
        display: none;
    }
    .descBox {
        display: none;
    }
    .pricingBox {
        display: none;
    }
    .priceBox {
        display: none;
    }
    .slideshow {
        display: none;
    }
    .footer {
        display: none;
    }
} */

/* @media only screen and (max-width : 375px) {
}

@media only screen and (max-width : 425px) {
} */