/* M I S C - U N I V E R S A L */
body {
    background-color: #240E28;
}
.container {
    max-width: 1364px;
    margin: 0 auto;
}

/* L A N D I N G - P A G E - S E C T I O N */
.landing {
    width: 100%;
    height: 100vh;
}

/* NAVIGATION */
.navigation {
    width: 100%;
    height: 89px;
    background-color: #521A4A;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.navigation .logo {
    color: #FF48C4;
    text-decoration: none;
    font-size: 28px;
    margin-left: 40px;
}
.navItems {
    display: flex;
    flex-direction: row;
    font-size: 17px;
}
.navItems li {
    align-self: center;
    margin-right: 40px;
}
.navItems a {
    color: #FF48C4;
    text-decoration: none;
}
.navItems .signIn {
    color: #ffffff;
}
.navItems .navBtn {
    background-color: #D8247C;
    border: none;
    border-radius: 1000px;
    width: 130px;
    height: 50px;
    margin-right: 40px;
}
.navItems .navBtn a {
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
}
/* NAVIGATION */

/* HEADER */
.header {
}
.headerBox {
    width: 810px;
    height: 478px;
    background-color: #521A4A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 256px auto;
    border-radius: 15px;
}
.headerBox .title {
    font-size: 115px;
    margin: 10px auto;
    color: #FF48C4;
}
.headerBox .subTitle {
    font-size: 25px;
    margin: 10px auto;
    color: #2BD1FC;
}
.headerBox .headerBtn {
    margin: 10px auto;
    border: none;
    background-color: #D8247C;
    border-radius: 1000px;
    width: 130px;
    height: 50px;
}
.headerBox .headerBtn a {
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
}
.headerBox .learnBtn {
    margin: 10px auto;
    border: none;
    background-color: #2BD1FC;
    border-radius: 1000px;
    width: 165px;
    height: 55px;
}
.headerBox .learnBtn a {
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
}
/* HEADER */


/* A B O U T - S E C T I O N */
.about {
    width: 100%;
    height: 100vh;
    background-color: #D8247C;
}

/* P R I C I N G - S E C T I O N */
.pricing {
    width: 100%;
    height: 100vh;
    background-color: #240E28;
}

/* F E E D B A C K - S E C T I O N */
.feedback {
    width: 100%;
    height: 100vh;
    background-color: #D8247C;
}

/* F O O T E R - S E C T I O N */
.footer {
    width: 100%;
    height: 50px;
    background-color: #240E28;
}